<template>
<!--  <div class="home">-->
<!--    <h1>{{msg}}</h1>-->
<!--    <el-button>这是第一个按钮{{msg}}</el-button>-->
<!--    <img alt="Vue logo" src="../assets/logo.png">-->
<!--    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
<!--  </div>-->

    <el-container style=" min-height: 100vh">
      <el-aside :width="sideWidth+'px'" style="background-color: rgb(238, 241, 246)">
        <el-menu :default-openeds="['1', '3']" style="min-height: 100%;overflow-x: hidden" background-color="rgb(48,65,86)" text-color="#fff" :collapse-transition="false" :collapse="isCollapse">
          <div style="height: 60px;line-height: 60px;text-align: center">
            <img src="../assets/logo.png" alt="" style="width: 20px ;position: relative;top: 5px;ma-right: 5px;" >
            <b style="color: white" v-show="logoTextShow">后台管理系统</b>
          </div>


          <el-submenu index="1">
            <template slot="title"><i class="el-icon-message"></i><span slot="title">导航一</span></template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="1-1">选项1</el-menu-item>
              <el-menu-item index="1-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="1-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="1-4">
              <template slot="title">选项4</template>
              <el-menu-item index="1-4-1">选项4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title"><i class="el-icon-menu"></i><span slot="title">导航二</span></template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="2-1">选项1</el-menu-item>
              <el-menu-item index="2-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="2-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="2-4">
              <template slot="title">选项4</template>
              <el-menu-item index="2-4-1">选项4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title"><i class="el-icon-setting"></i><span slot="title">导航三</span></template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="3-1">选项1</el-menu-item>
              <el-menu-item index="3-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="3-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="3-4">
              <template slot="title">选项4</template>
              <el-menu-item index="3-4-1">选项4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
        </el-menu>
      </el-aside>
<!--头部-->
      <el-container>
        <el-header style="font-size: 12px;border: 1px solid #ccc;line-height: 60px;display: flex" >
          <div style="flex: 1 ;font-size: 20px">
            <span :class="collapseBtnClass" style="cursor: pointer" @click="collapse"></span>
          </div>
          <el-dropdown style="width: 70px;cursor: pointer">
            <span>王小虎</span><i class="el-icon-arrow-down" style="margin-left: 5px"></i>
            <el-dropdown-menu slot="dropdown">

              <el-dropdown-item>个人信息</el-dropdown-item>
              <el-dropdown-item>退出</el-dropdown-item>

            </el-dropdown-menu>
          </el-dropdown>

        </el-header>



        <el-main>
<!--          页签-->
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
            <el-breadcrumb-item>活动详情</el-breadcrumb-item>
          </el-breadcrumb>
          <div style="margin: 10px 0">
            <el-input style="width: 200px" suffix-icon="el-icon-search" placeholder="姓名"></el-input>
            <el-input style="width: 200px" suffix-icon="el-icon-search" placeholder="手机号"></el-input>
            <el-input style="width: 200px" suffix-icon="el-icon-search" placeholder="地址"></el-input>
            <el-button class="ml-5" type="primary">搜索</el-button>

          </div>
          <div style="margin: 10px 0">
            <el-button type="primary">新增<i class="el-icon-circle-plus-outline"></i></el-button>
            <el-button type="danger">删除<i class="el-icon-remove-outline"></i></el-button>
            <el-button type="warning">导入<i class="el-icon-top"></i></el-button>
            <el-button type="info">导出<i class="el-icon-bottom"></i></el-button>

          </div>

          <el-table :data="tableData" border stripe :header-cell-class-name="headerBg">
            <el-table-column prop="id" label="id" width="80">
            </el-table-column>
            <el-table-column prop="username" label="用户名" width="140">
            </el-table-column>
            <el-table-column prop="nickname" label="昵称" width="120">
            </el-table-column>
            <el-table-column prop="address" label="地址" width="120">
            </el-table-column>
            <el-table-column prop="phone" label="电话" width="120">
            </el-table-column>
            <el-table-column prop="address" label="地址">
            </el-table-column>

            <el-table-column label="操作">
              <template slot-scope="scope">
                  <el-button type="success">编辑<i class="el-icon-edit"></i></el-button>
                <el-button type="danger">删除<i class="el-icon-remove-outline"></i></el-button>
              </template>
            </el-table-column>

          </el-table>
<!--          分页查询-->
          <div style="padding: 10px 0">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageNum"
                :page-sizes="[2, 5, 10, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
<!--                :total="400">-->
            </el-pagination>
          </div>

        </el-main>
      </el-container>
    </el-container>
</template>

<script>
import {query} from "vue/src/platforms/web/util";

export default {
  name: 'HomeView',
  data(){
    // const item = {
    //   date: '2016-05-02',
    //   name: '王小虎',
    //   address: '上海市普陀区金沙江路 1518 弄'
    // };
    return{
      msg:"李彤学vue",
      // tableData: Array(20).fill(item),
      tableData: [],
      total: 0,
      pageNum: 1,
      pageSize : 2,
      collapseBtnClass:'el-icon-s-fold',
      isCollapse:false,
      sideWidth:200,
      logoTextShow:true,
      headerBg:'headerBg'
    }

  },
  created() {
    //请求分页查询数据
    fetch("http://localhost:9090/user/page?pageNum="+this.pageNum+"&pageSize="+this.pageSize).then(res => res.json()).then(res=>{
      console.log(res)
      this.tableData =res.data
      this.total = res.total
    })
  },
  methods:{
  collapse(){
    this.isCollapse =!this.isCollapse
    if (this.isCollapse){
      this.sideWidth=64
      this.collapseBtnClass='el-icon-s-unfold'
      this.logoTextShow=false
    }else {
      this.sideWidth=200
      this.collapseBtnClass='el-icon-s-fold'
      this.logoTextShow=true
    }
  },
    handleSizeChange(pageSize){
      console.log(pageSize)
    },
    handleCurrentChange(pageNum){
    console.log(pageNum)
    }


  }
}
</script>
<style>

.headerBg{
  background: #eee !important;
}
</style>